<%= turbo_frame_tag :details, class: "middle-earth-container" do %>
  <div class="edoras">
    <span class="saddle" style="background-color: <%= @tag.color %>;">
        <%= @tag.title %><%= @tag.icon_svg.html_safe %>
    </span>
  </div>
  <div class="mordor">
    <% if @posts.any?%>
      <h4 class="if_i_take_one_more_step_it_ll_be_the_farthest_away_from_home_you_have_ever_been" style="background-color: <%= @tag.color %>;"><%= @posts.length %> posts founded</h4>
      <% if @posts.any?%>
        <div class="shire mordor bg-light">
          <% @posts.each do |post| %>
            <%= link_to post_path(post), class: "minas-morgul bg-light", data: { turbo: "false" } do%>
              <% if post.header_image.present? %>
                <div class="sword" style="background-image: url(<%= url_for(post.header_image) %>);" ></div>
              <% else %>
                <div class="axe" style="background-image: url(<%= url_for(post.header_image) %>);" ></div>
              <% end %>
              <aside class="axe">
                <%= post.title %>
              </aside>
              <span class="arkenstone shield">
                <%= post.description.truncate(75) %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if @projects.any? %>
      <h4 class="if_i_take_one_more_step_it_ll_be_the_farthest_away_from_home_you_have_ever_been" style="background-color: <%= @tag.color %>;"><%= @projects.length %> projects founded</h4>
      <% if @projects.any?%>
        <div class="shire mordor">
          <% @projects.each do |project| %>
            <%= render 'project', project: project %>
          <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
<% end %>

