<%= form_with(model: page, local: false) do |form| %>
  
  <div class="form-group">
    <% page.errors.where(:title).each do |error| %>
      <h6 class="text-danger d-block mt-1"><%= error.full_message %></h6>
    <% end %>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control title'  %>
  </div>

  <div class="form-group">
    <% page.errors.where(:body).each do |error| %>
      <h6 class="text-danger d-block mt-1"><%= error.full_message %></h6>
    <% end %>
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control edit-markdown-area' %> 
  </div>

  <%= form.check_box :published, class: 'hidden' %> 

  <div data-controller="page" class="toggle-page-publish btn btn-secondary mt-3" style="max-width: 100px;"
      data-page-target="togglePublishButton" data-action="click->page#togglePublishButton">
  </div>

  <div class="action mt-3">
    <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>