<h6 class="breadcrumb"><%= link_to 'HOME', root_path %> / <span class="light-text">PROJECTS</span></h6>
<div class="middle-earth-container">
  <% if not @projects.any? %>
  <div class="mordor center">
    <h2 style="max-height: 40vh;">
      Projects not available right now
    </h2>
    <p>
      <%= image_tag(asset_path("cello.gif")) %>
    </p>
    </div>
  <% end %>
  <div class="shire mordor">
    <% @projects.each do |project| %>
      <div class="dialog" data-controller="dialog" data-dialog-name-id="project-<%= project.id %>">
        <span class="dialog-bait" data-action="click->dialog#showDialog">
          <div class="minas-morgul bg-light">
            <% if project.background_image.present? %>
              <div class="sword" style="background-image: url(<%= url_for(project.background_image) %>);"></div>
            <% else %>
              <div class="sword" style="background-image: url(<%= asset_path("cat2.gif") %>);"></div>
            <% end %>
            <aside class="axe">
              <%= project.title %>
            </aside>
            <span class="arkenstone shield">
              <%= project.description.truncate(75) %>
            </span>
            <% if project.tags.any? %>
              <hr>
              <%= render 'tags', element: project %>
            <% end %>
            <% if not project.link.nil?%>
              <a class="phial_of_galadriel dagger" href="<%= project.link %>"><%= svg_icon('github') %></a>
            <% end %>
        </div>
        </span>
        <div class="dialog-body" id="project-<%= project.id %>">
          <div class="sauron">
            <span class="mount-doom" data-action="click->dialog#hideDialog"><%= svg_icon("close") %></span>
            <% if project.background_image.present? %>
              <div class="sword" style="background-image: url(<%= url_for(project.background_image) %>);"></div>
            <% else %>
              <div class="sword" style="background-image: url(<%= asset_path("cat2.gif") %>);"></div>
            <% end %>
            <div class="north-downs">
              <%= render 'tags', element: project %>
            </div>
            <div class="elendilmir">
              <% project.rank.times do %>
                <%= image_tag(asset_path("ruby.gif")) %>
              <% end %>
            </div>
            <div class="azog">
              <h3 class="dead-marshes"> <%= project.title %> </h3>
              <h6> <%= project.description %> </h6>
              <div class="thror">
                <a href="<%= project.link %>" target="blank"><%= svg_icon("github") %></a>
                <% project.references.each do |ref| %>
                <a href="<%= ref.link %>" target="blank">
                  <%= ref.name %>
                </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>