<div class="curtain" data-controller="close" data-action="click->close#closeAnimation"></div>
<div class="errors-animation" id="closeAnimationsDialog">
	<div class="scene">
	  <div class="cube">
	    <div class="cube__face cube__face--front">
				<div class="text-light">
					Welcome <%= current_author.email %>
				</div>
			</div>
	    <div class="cube__face cube__face--back">
	    	<div><%= image_tag("gandalf.gif") %></div>
	    </div>
	    <div class="cube__face cube__face--right">
	    	<div><%= image_tag("appa.gif") %></div>
	    </div>
	    <div class="cube__face cube__face--left">
	    	<div><%= image_tag("totoro.gif") %></div>
	    </div>
	    <div class="cube__face cube__face--top">
	    	<div><%= image_tag("cello.gif") %></div>
	    </div>
	    <div class="cube__face cube__face--bottom">
	    	<div><%= image_tag("ghostError.gif") %></div>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center align-items-center p-4">
		<div class="col-auto mb-4">
			<div class="card icon-svg-md pt-2" style="width: 18rem; align-items: center;">
				<%= svg_icon("gear") %>
				<div class="card-body text-center icon-svg-sm">
					<hr>
					<h4 class="card-title">Settings</h4>
    				<%= render 'bg_form', tag_url: "project_tags" %>					
				</div>
			</div>
		</div>
		<div class="col-auto mb-4">
			<div class="card icon-svg-md pt-2" style="width: 18rem; align-items: center;">
          		<%= svg_icon("blog") %>
				<div class="card-body text-center">
					<hr>
					<h4 class="card-title">Posts</h4>
					<h5 class="card-text"><%= @posts.count %> published posts</h5>
					<% @posts.order(:title).each do |post| %>
						<hr>
  						<%= link_to edit_post_path(post), class: 'text-decoration-none btn-light btn btn-block' do %>
							<h6><%= post.title %></h6>
						<% end %>
					<% end %>
				</div>
				<%= link_to posts_path, class: 'text-decoration-none btn-primary rounded text-center btn-block' do %>
					<h5>Index</h5>
				<% end %>
			</div>
		</div>
		<div class="col-auto mb-4">
			<div class="card icon-svg-md pt-2" style="width: 18rem; align-items: center;">
          		<%= svg_icon("projects") %>
				<div class="card-body text-center">
					<hr>
					<h4 class="card-title">Projects</h4>
					<h5 class="card-text"><%= @projects.count %> published projects</h5>
					<% @projects.order(:title).each do |project| %>
						<hr>
  						<%= link_to edit_project_path(project), class: 'text-decoration-none btn-light btn btn-block' do %>
							<h6><%= project.title %></h6>
						<% end %>
					<% end %>
				</div>
				<%= link_to projects_path, class: 'text-decoration-none btn-primary text-center rounded btn-block' do %>
					<h5>Index</h5>
				<% end %>
			</div>
		</div>
		<div class="col-auto mb-4">
			<div class="card icon-svg-md pt-2" style="width: 18rem; align-items: center;">
          		<%= svg_icon("tag2") %>
				<div class="card-body text-center row justify-content-center">
					<h4 class="card-title">Tags</h4>
					<h5 class="card-text"><%= @tags.count %> tags</h5>
					<% @tags.order(:title).limit(5).each do |tag| %>
					  	<div class="col-auto d-flex mb-3 justify-content-center"><span class="p-2 rounded d-flex" style="background-color: <%= tag.color %>;"><span style="margin-right: 0.5rem;"><%= tag.title %></span><span class="label label-default icon-svg-xs"><%= tag.icon_svg.html_safe %></span></span></div>
					<% end %>
				</div>
				<%= link_to tags_path, class: 'text-decoration-none btn-primary text-center rounded btn-block' do %>
					<h5>Edit Tags</h5>
				<% end %>
			</div>
		</div>
	</div>
</div>