 <div class="shire">
  <div class="argonath-column bree">
    <p class="ent-draught silmaril"><%= post.title %></p>
    <div class="bywater pb-1">
      <p class="petty-dwarf-roots arkenstone"><%= time_ago_in_words(post.published_at) %></p>
      <p class="petty-dwarf-roots arkenstone hobbit-svg">
        <%= post.updated_at.strftime("%Y %m") %>
        <%= svg_icon("updated") %>
      </p>
    </div>
    <% if post.header_image.present? %>
      <% if @full_img.nil? || !@full_img %>
        <div class="sword" style="background-image: url(<%= url_for(post.header_image) %>);" ></div>
      <% else %>
        <div class="axe" style="background-image: url(<%= url_for(post.header_image) %>);" ></div>
      <% end %>
    <% else %>
      <div class="sword icon-svg-md"><%= svg_icon("no_image") %></div>
    <% end %>
  </div>
  <%= render 'tags', element: post %>
  <div class="argonath-column moria">
    <p class="side-description silmaril"><%= post.description %></p>
  </div>
</div>