<%= link_to posts_index_path, class: 'if_i_take_one_more_step_it_ll_be_the_farthest_away_from_home_you_have_ever_been' do %> 
	<%= render partial: 'visitors/svg/go_back' %>
<% end %>
<h6 class="breadcrumb">HOME / BLOG / <span class="light-text"><%= @post.title %></span></h6>
<div class="middle-earth-container">
     <%= render 'post_preview', post: @post %>

	<div class="shire">
		<div class="argonath-column">
			<% @post.elements.order(position: :asc).each do |element| %>
				<div class="rohan">
					<% if element.image? %>
						<% if element.image.present? %>
							<%= image_tag(element.image) %>
						<% end %>
					<% elsif element.title? %>
						<div class="silmaril dead-marshes">
							<% case element.title.title_type %>
							<% when 0 %>
								<p class="ent-draught"><%= element.title.name %></p>
							<% when 1 %>
								<p class="lembas"><%= element.title.name %></p>
							<% when 2 %>
								<p class="honey-cake"><%= element.title.name %></p>
							<% end %>
						</div>
					<% elsif element.paragraph? %>
						<div class="moria silmaril">
							<%= element.content %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
  		<div class="argonath-column mirkwood">
  			<section>
  				<ul>
  					<li>-</li>
  				</ul>
  			</section>
  		</div>
	</div>
</div>