<%= link_to posts_index_path, class: 'if_i_take_one_more_step_it_ll_be_the_farthest_away_from_home_you_have_ever_been' do %> 
	<%= render partial: 'visitors/svg/go_back' %>
<% end %>
<h6 class="breadcrumb"><%= link_to 'HOME', root_path %> / <%= link_to 'BLOG', root_path %> / <span class="light-text"><%= @post.title %></span></h6>

<div class="middle-earth-container">
     <%= render 'post_preview', post: @post %>

	<div class="shire">
		<div class="argonath-column">
			<% @post.elements.order(position: :asc).each do |element| %>
				<div class="rohan">
					<% if element.image? %>
						<% if element.image.present? %>
							<%= image_tag(element.image) %>
						<% end %>
					<% elsif element.title? %>
						<div class="silmaril dead-marshes">
							<% case element.title.title_type %>
							<% when 0 %>
								<p class="ent-draught"><%= element.title.name %></p>
							<% when 1 %>
								<p class="lembas"><%= element.title.name %></p>
							<% when 2 %>
								<p class="honey-cake"><%= element.title.name %></p>
							<% end %>
						</div>
					<% elsif element.paragraph? %>
						<div class="moria silmaril">
							<%= element.content %>
						</div>
                		<% elsif element.pdf? %>
                			<% if element.file_pdf.present? %>
	                			<% if element.file_pdf.content_type == 'application/pdf'%>
			                         <embed src="<%= rails_blob_url(element.file_pdf) %>" width="90%" height="500" type="application/pdf" style="overflow: scroll;">
		                      	<% end %>
                			<% end %>
					<% elsif element.code_file? %>
                    		<% if element.code_file.present? %>
							<div class="gondor silmaril">
								<button class="go_where_you_must_go_and_hope bg-silver">
				                        <%= link_to rails_blob_path(element.code_file, disposition: "attachment"), {class: "phial_of_galadriel",style: "text-decoration: none"} do %>
				                        		<div class="bywater">
				                        			<p class="orc-vitality-drink phial_of_galadriel"><%= element.code_file.filename.to_s %></p>
				                         		<span style="text-align: left;"><%= render partial: 'visitors/svg/download' %></span>
				                         	</div>
				                  		<% end %>
				                    </button>
							</div>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
  		<div class="argonath-column mirkwood">
  			<section>
  				<ul>
					<% @downloadable_elements.order(position: :asc).each do |element| %>
						<% if element.code_file? && element.code_file.present?  %>
  							<li>
  								<%= link_to rails_blob_path(element.code_file, disposition: "attachment"), {class: "elfstone"} do %>
				                   		<%= element.code_file.filename.to_s %>
				                    <% end %>
  							</li>
  						<% end %>
  					<% end %>
  				</ul>
  			</section>
  		</div>
	</div>
</div>