<% if @reference.errors.any? %>
	<div class="curtain" data-controller="close" data-action="click->close#closeAnimation"></div>
	<div class="errors-animation" id="closeAnimationsDialog">
		<div class="scene">
		  <div class="cube">
		    <div class="cube__face cube__face--front">
					<div class="text-danger">
						<% @reference.errors.each do |error| %>
							<p><%= error.full_message %></p>
						<% end %>
					</div>
				</div>
		    <div class="cube__face cube__face--back">
		    	<div><%= image_tag("warningAnimation.gif") %></div>
		    </div>
		    <div class="cube__face cube__face--right">
		    	<div><%= svg_icon("errorFace") %></div>
		    </div>
		    <div class="cube__face cube__face--left">
					<div><%= svg_icon("errorFace") %></div>
		    </div>
		    <div class="cube__face cube__face--top">
		    	<div><%= image_tag("windowsError.gif") %></div>
		    </div>
		    <div class="cube__face cube__face--bottom">
		    	<div><%= image_tag("ghostError.gif") %></div>
		    </div>
		  </div>
		</div>
	</div>
<% end %>
<div class="row m-0" id="edit-card">
	<div class="col-md-8 mb-4">
		<%= link_to 'Back', projects_path, class: 'btn btn-lg btn-dark m-3' %> 
		<div class="card">
			<div class="card-header">
				<h6 class="card-title mb-0">Editing Project</h6>
			</div>
			<div class="row m-2 mb-0">
				<% @project_tags.each do |tag| %>
					<% if tag.persisted? %>
						<div class="col-auto d-flex mb-2">
							<span class="p-1 rounded d-flex m-2 mb-0 mt-0" style="background-color: <%= tag.color %>;">
								<span style="margin-right: 0.5rem;"><%= tag.title %></span>
								<span class="label label-default icon-svg-xs"><%= tag.icon_svg.html_safe %></span>
							</span>
							<%= link_to "X", remove_project_tags_path(@project, tag), class: 'btn btn-danger', data: {turbo_method: :delete } %>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="card-body">
				<%= render 'form', project: @project %>
			</div>
			<div class="card-footer" data-controller="publish">
				<% if @project.published? %>
					<%= button_to [:unpublish, @project], {method: :post, class: 'btn btn-secondary btn-block'} do %>
						Unpublish
					<% end %>
				<% else %>
					<%= button_to [:publish, @project], {method: :post, class: 'btn btn-info btn-block'} do %>
						Publish
					<% end %>
				<% end %>
			</div>  
		</div>
	</div>
	<div class="col-md-4 gap-2" id="elements-card">
    <%= render 'tag_form', tag_url: "project_tags" %>
    <%= render 'reference_form', project: @project, reference: @reference %>
    <div class="card mb-5 mt-1">
      <div class="card-header text-right">
        <% if @project.published? %>
          <b>Published</b>
        <% else %>
          <span class="badge badge-danger mr-1 bg-danger">Unpublished</span>
        <% end %>
      </div>
      <div class="card-body pt-5" data-controller="elements">
        <% if @project.references.none? {|element| element.persisted? } %>
           <div class="p-3 text-center">
            <h2 class="text-secondary">
              <%= svg_icon("light_bulb") %>
            </h2>
            <p>Try the icons above to add references and tags. </p>
           </div>
        <% else %>
        	<div class="row gap-2 m-0">
	        	<% @project.references.each do |ref| %>
	        		<% if ref.persisted? %>
	        			<div class="col-auto card btn">
	        				<div class="pt-2 pb-2">
	        					<span class="icon-svg-xs me-2 btn-secondary btn"><%= svg_icon("references") %></span>
	        					<a class="btn btn-primary" href="<%= ref.link %>" target="blank"><%= ref.name %></a>
	        				</div>
	        			</div>
	        		<% end %>
	        	<% end %>
        	</div>
        <% end %>
      </div>
    </div>
  </div>
</div>