<!DOCTYPE html>
<html>
  <head>
    <title>Pulgamecanica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?id=G-WKGKSFVDXY" data-turbo-track="reload" async></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
