<!--
                                .     @$* @$3
                             '$Nueeed$$ed$$eeec$$
          ,            4$Lze@*$C2$b* ed(he*rb$CC$*$bc@$r              
    /@ |~~            .e$$"W$$B$B$**  ^$  e""##d?$Bd$$$Nc. ..      @\/~\ 
    \==|         4$kd*Cr$6F#"`  **   .*==      # '"**F#$I$b$*       |   I
       |         d$5N@$$"   ....eu$$$$$$N$*$zbeuu     #$d$$$$b.     / @/
      @/     . z$Ted*"$P zue$*9d$$$@##  .  #W$e@B$$L.    "#@$E$b@N
            #d$Id*P#  'Nd$$B$**"       .*,     "#*N$$b$c   $$$*$$c
           .d#+C6J   @@$B$*"          -***-        "#$$$$c   *$$$#$u
        ..u$l4@"^"zJ$7W*"              '*`            ^*$@$$$r "$$E$@B&gt;
        *@$l$P"+Rd$$N#"          *     /|\     *        '"$$$c.. ?E$*b
        z$ "*.  .Jz$"           ***   / | \   ***         '*@N$b   d**N
      .z$JBR^bs@$$#          *   *   /  |  \   *  *         "$l*9N "bN$Nee
     4$$.C*   dB@"          ***    _/  /^\  \_   ***         '$$$z&gt; 3$b$$#
      $"$e$  @*$"        *   *     \\^|   |^//    *   *        $$$u.^*$N$c
     JPd$%  @@d"        ***        ***********       ***       '$Ni$  $EP$
   :e$"*$  :et$          *         ***********        *         ^$$E  4$N$be
   ')$ud"  @6$                                                   9$$   $*@$"
    @F*$   *4P                       ./                          '$m#   .$$.
 u*""""""""""""h                     ##=====                    e#""""""""""#
 E +e       ue. N                 ___##_______                 4F e=c     z*c
 #e$@e.. ..z6+6d"                #*************/               ^*cBe$u.  .$$@
    $ ^"""" 4F"  ze=eu              ********              z***hc ^"$ ""*"" $
    $       ^F :*    3r                                  @"  e "b  $       $
  .e$        N $  'be$L...                            ...?be@F  $F $       9F
 4" $        $ $.  zm$*****h.                      ue""""*h6   J$" $       4%
 $  $        $ $$u5e" .     "k                    d"       #$bu$F  $       4F
 "N $        $ ^d%P  dF      $  .            .e   $     -c  "N$F  .$       4F
  #$$        $  $4*. "N.    zP  3r ..    ..  $c   *u     $  u$K$  4F       4L
   ^N$e.     3  F$k*. "*C$$$# .z$" '$    4L  "$c. '#$eeedF  $$$9r JF       J$
    $'"$$eu. 4  F3"K$ .e=*CB$$$$L .e$    '$bc.u$***hd6C""  4kF$4F $F     u@$F
    $   '"*$*@u N'L$B*"z*""     "$F" 4k 4c '7$"      "*$eu 4'L$J" $   .e$*"4F
    $      '"hC*$ "$#.P"          $me$"  #$*$       .  ^*INJL$"$  $e$$*#   4F
    $         $b"h ".F     $"     ^F        $       9r   #L#$FJEd#C@"      4L
   .$         $Jb   J"..  4b      uF        *k      J%    #c^ $" d$        4L
  :"$         $k9   $ $%4c $Bme.ze$         '*$+eee@*$"  :r$    @L$        4$
  $ $         $$Jr  $d" '$r "*==*"            "#**"" $r  4$3r  db$F        4F
  $c$         $'*F  $"   '$            /\            $    *(L  $$$F         k
  #i*e.       $ 4&gt;  $  ue $         \`.||.'/         'L c  $$ .L$d         .$
   "b."*e.    4 4   $  $%db=eL     `.&lt;\||/&gt;.'      e*+$/$r  $ '$"$       .d$$
    $^#+cC*mu 4r4   4r:6@F  $$    -----++-----    &lt;$. "N?N  F  $ $    ud$$* $
    $    "*eJ"@L4   4k*3Ic.*"      .'&lt;/||\&gt;`.      #*5.J$$..F  $ $ ue#2*"   $
    $       "N."@r  4Fd" '$r        /.'||`.\        4$ '"N*d"  9.$#Ce*"     $
    $         "e^"  'd" uz$%           \/           '$czr"k#"  4Pu@"        $
MELLON!                                           -gandalf@balrog.joensuu.fi-
One ring to rule them all, one ring to find them, One ring to bring them all, and in the darkness bind them; In the Land of Mordor where the shadows lie.
-->
<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('author_img.ico')%>">
  </head>

  <body class="bg-light text-dark" id="visitors-layout">
    <nav id="side_bar">
      <header>
        <span id="logo">
          <%= svg_icon("logo") %>
          <%= svg_icon("splash") %>
        </span>
        <h1><%= link_to 'Pulgamecanica', root_path %><hr></h1>
        
        <h6>Coding Blog</h6>
      </header>
      <section>
          <h4><%= link_to 'About', about_path %></h4>
          <h4><%= link_to 'Blog', root_path %></h4>
          <h4><%= link_to 'Projects', showcase_path %></h4>
          <h4><%= link_to 'CV', cv_path %></h4>
      </section>
      <footer>
        <a class="dwarf-svg" href="https://github.com/pulgamecanica" target="blank"><%= svg_icon("github") %></a>
        <a class="dwarf-svg" href="mailto: andrehernandezrosado@gmail.com" target="blank"><%= svg_icon("mail") %></a>
        <a class="dwarf-svg" href="https://www.linkedin.com/in/andr%C3%A9-hern%C3%A1ndez-0572a1238/" target="blank"><%= svg_icon("linkedin") %></a>
        <a class="dwarf-svg" href="https://www.instagram.com/andy_maedhros/" target="blank"><%= svg_icon("instagram") %></a>
      </footer>
    </nav>
    <main>

      <nav class="bg-light" id="main-nav-bar">
        <section>
          <button id="expand_side_bar_button" onclick="expand_sideBar()">
            <%= svg_icon("menu_hamburger") %>
          </button>
          <button class="active" id="theme-button">
            <%= svg_icon("theme") %>
          </button>
          <button
            data-controller="search" id="search-controller"
            data-action="click->search#initializeSearch click@window->search#hide touchend@window->search#hide"
          >
            <%= svg_icon("search") %>
          </button>
          <input type="text" name="search-input" id="search-input" placeholder="search something...">
        </section>
      </nav>

      <div class="middle-earth">
        <%= yield %>
      </div>

      <div class="middle-earth">
        <div class="middle-earth-container">
          <footer>
          <p class="elfstone orc-vitality-drink">Pulgamecanica's Blog</p>
          <p class="arkenstone orc-vitality-drink">pulgamecanica11@gmail.com</p>
          <p class="silmaril orc-vitality-drink">Copyright © <%= Time.current.year %> All Rights Reserved by Pulgamecanica.</p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>

<script type="text/javascript">
  function expand_sideBar() {
    document.querySelector("#side_bar").style.width = "100%";
    document.querySelector("#side_bar").style.maxWidth = "none";
    document.querySelector("#side_bar").style.display = "flex";
    document.querySelector("main").style.display = "none";
  }
  function contract_sideBar() {
    document.querySelector("#side_bar").style.width = "100%";
    document.querySelector("#side_bar").style.maxWidth = "25vw";
    document.querySelector("#side_bar").style.display = "none";
    document.querySelector("main").style.display = "block";
  }
</script>